.textbox {
    width: 100%;
    overflow: hidden;
    padding: 8px 0;
    margin: 8px 0;
}

.textbox input {
    border: none;
    outline: none;
    background-color: transparent;
    color: #dfe7ef;
    font-size: 20px;
    line-height: 2.3;
    width: 100%;
    float: left;
    border-bottom: 1px solid #0f47bf;
}

.errorText {
    color: #bf2f0f;
}

.linkLogin {
    position: absolute;
    top: 30px;
    right: -20px;
}

.btnLogin {
    border: none;
    outline: none;
    background-color: #0f47bf;
    color: #dfe7ef;
    border-radius: 100%;
    font-size: 33px;
    width: 60px;
    height: 60px;
    box-shadow: 0px 10px 40px 0px rgba(76, 70, 124, 0.5);
}

.btnLogin:hover {
    background-color: #0f47bf;
    color: #fff;
    transition: .5s;
    box-shadow: 0 0 5px #0f47bf;
}

.btnLogin:active {
    background-color: #062059;
    color: #0f47bf;
}

.logoFilter {
    vertical-align: -5%;
}