.box_out {
    color: #fff;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    padding: 50px;
    border-radius: 20px;
    width: 500px;
    box-shadow: 0px 10px 40px 0px rgba(76, 70, 124, 0.5);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.textbox {
    width: 100%;
    overflow: hidden;
    padding: 8px 0;
    margin: 8px 0;
}

.textbox input {
    border: none;
    outline: none;
    background-color: transparent;
    color: #dfe7ef;
    font-size: 20px;
    line-height: 2.3;
    width: 100%;
    float: left;
    border-bottom: 1px solid #0f47bf;
}

.errorText {
    color: #bf2f0f;
}

.linkNew {
    position: absolute;
    top: 30px;
    right: -20px;
}

.btnNewUser {
    border: none;
    outline: none;
    background-color: #0f47bf;
    color: #dfe7ef;
    border-radius: 100%;
    font-size: 30px;
    width: 60px;
    height: 60px;
    box-shadow: 0px 10px 40px 0px rgba(76, 70, 124, 0.5);
}

.btnNewUser:hover {
    background-color: #0f47bf;
    color: #fff;
    transition: .5s;
    box-shadow: 0 0 5px #0f47bf;
}

.btnNewUser:active {
    background-color: #062059;
    color: #0f47bf;
}

.logoFilter {
    vertical-align: -7%;
}

@media screen and (orientation: portrait) {
    .linkNew {
        position: absolute;
        top: 25px;
        right: -8px;
    }
    .box_out {
        margin-top: 30vw;
    }
}